/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

header {
    display: flex;
    padding-bottom: 40px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
}

ul {
    display: flex;
    list-style: none;
}


li:first-child {
    margin-right: 80px;
}


li:hover {
    cursor: pointer;
    text-decoration: underline solid var(--main-color) 3px;
    color: var(--main-color);
    text-underline-offset: -31px;
    transition: ease-in-out 0.5s;
}

.hero-title {
    font-size: 30px;
    margin: 0;
}

.hero-subtitle {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.search-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
    width:350px;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.seachbar-icon {
    margin-left: 20px;
    
}

.search-bar input {
    border: none;
    padding: 16px;
    font-size: 22px;
}

.search-bar input::placeholder {
    color: #000000;
    font-weight: bold;
}

.search-bar i {
    color: #000000;
    padding : 20px;
    font-size: 20px;
}

.search-bar button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 17px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
}

.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
}

.filters {
    display: flex;
    align-items: center;
    border: 3px solid var(--main-bg-color);
    border-radius: 25px;
    transition: ease-in 0.5s;
}

.filters:hover {
    cursor: pointer;
    background-color: var(--filter-bg-color);
    
}

.filters i {
    color: var(--main-color);
    font-size: 22px;
    padding-left: 10px;
}

.filters-container h2 {
    padding: 10px;
    font-size: 20px;
    margin: 0;
}

.filters-container h2:first-child {
    padding-left: 0;
}

.infos {
    display: flex;
    align-items: center;
    
}

.infos p {
    margin: 50px 20px;
    color:#000000
}
.infos i {
    font-size: 12px;
    padding: 5px 9px;
    border: var(--main-bg-color) 2px solid;
    border-radius: 50%;
}

.hébergements {
    width: 67%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.hébergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lien-card {
    width: 30%;
    min-width: 120px;
    background-color: white;
    padding: 5px;
    margin-top: 33px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #DADADA;
    transition: 0.3s;
}
.lien-card img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-title-héber{
    margin: 1px 0px 8px 15px;
}
.card-subtitle-héber {
    margin: 8px 0px 8px 15px;
}
.text-fin-héber {
    font-size: 18px;
    margin-top: 33px;
}

.card-rating-héber {
    display: flex;
    align-items: center;
    margin: 8px 0px 8px 15px;
}
.card-subtitle {
    margin: 0;
}

.card-title {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activities-section-title {
    margin: 30px;
    font-size: 22px;
}


/****** Activities ***********/

.activities-section-cards {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.activities-section-cards a {
    width: 23%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #DADADA;
    transition: 0.3s;
}

.activities-section-cards img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-subtitle {
    margin: 20px;

}

/****** Footer ***********/

footer {
    background-color: var(--main-bg-color);
    padding: 30px;
    margin-top: 50px;
}

.footer-content {
 display: flex;
}

.footer-content a{
    display: block;
    margin: 10px 0;
}

.footer-a-propos {
    width: 33%;
}

.footer-hebergement {
    width: 33%;
}

.footer-help {
    width: 33%;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}